tensorboard==1.15.0
tensorboard-plugin-wit==1.7.0
tensorboardcolab==0.0.22
tensorflow==1.15.0
tensorflow-addons==0.8.3
tensorflow-datasets==4.0.1
tensorflow-estimator==1.15.1
tensorflow-gcs-config==2.3.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.25.0
tensorflow-privacy==0.2.2
tensorflow-probability==0.11.0
bert-tensorflow==1.0.1
numpy==1.18.5
pandas==1.1.4
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pandocfilters==1.4.3
dill==0.3.3
pickleshare==0.7.5